.polygon-one {
	stroke: var(--bs-dark-border-subtle);
	stroke-linejoin: round;
	stroke-width: 0.5px;
	fill: var(--bs-dark-bg-subtle);
}

.polygon-other {
	stroke: var(--bs-dark-border-subtle);
	stroke-linejoin: round;
	stroke-width: 0.5px;
	fill: var(--bs-dark-bg-subtle);
	opacity: 75%;
}

.polygon-old {
	stroke: var(--bs-danger-border-subtle);
	stroke-linejoin: round;
	stroke-width: 0.5px;
	fill: var(--bs-danger-bg-subtle);
	opacity: 75%;
}

.polygon-new {
	stroke: var(--bs-primary-border-subtle);
	stroke-linejoin: round;
	stroke-width: 0.5px;
	fill: var(--bs-primary-bg-subtle);
	opacity:75%;
}
