/* TODO set custom CSS per game */

:root {
	--canvas-top: 10%;
	--canvas-left: 0%;
	--canvas-right: 1.3%;
	--canvas-width: 20%;
}


#canvas #svg {
	top: 0%;
	left: 0%;
}
#canvas #svg polygon {
	stroke-linejoin: round;
	stroke-opacity: 75%;
	stroke-width: 0.25px;
	fill-opacity: 50%;
}


#canvas.map-null {
	width: 100%;
}
#canvas.map-null #map-div {
	aspect-ratio: 1;
}


/* medium (md) bootstrap breakpoint */
@media (min-width: 768px) {

	#canvas.map-null #map-div {
		width: 100vw;
		height: 100vh;
	}

	#canvas section {
		position: absolute;
		z-index: 1;
	}

	#canvas #heading-section {
		top: 0%;
		left: var(--canvas-left);
	}

	#canvas #status-section {
		top: 0%;
		right: var(--canvas-right);
	}
	#canvas #status-section #timer-div {
		order: 1;
	}
	#canvas #status-section #speed-input {
		width: 5rem;
	}
	#canvas #status-section #time-button {
		width: 2.5rem;
	}

	#canvas #score-section {
		top: var(--canvas-top);
		left: var(--canvas-left);
		height: calc(100% - var(--canvas-top));
		width: var(--canvas-width);
	}

	#canvas #history-section {
		top: var(--canvas-top);
		left: calc(100% - var(--canvas-width) - var(--canvas-right));
		height: calc(100% - var(--canvas-top));
		width: var(--canvas-width);
	}

	#canvas #status-section .alert {
		background-color: rgb(from var(--bs-alert-bg) r g b / 50%);
	}
	#canvas #station-popup .alert {
		background-color: rgb(from var(--bs-alert-bg) r g b / 90%);
	}

	#canvas .list-group-item {
		background-color: rgb(from var(--bs-list-group-bg) r g b / 50%);
	}

}
